<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
    <ul class="sidebar-nav">
    {% if user.is_authenticated %}
        <li>User: {{ user.get_username }}</li>
        <li><a href="{% url 'accounts-logout'%}?next={{request.path}}">Logout</a></li>
        {% if user.is_active %}
            <div>I'm active</div>
        {% else %}
            <div>I'm not active</div>
        {% endif %}
        <input type="text" name="txt" value="Hello" oninput="handleSearch(this.value)">
    {% else %}
        <li>No account? <a href="{% url 'accounts-register'%}">register!</a></li>
        <li><a href="{% url 'accounts-login'%}?next={{request.path}}">Login</a></li>
    {% endif %}

    <div id="search-result">
        <div id="word-meaning"></div>
        <button id="word-add-button" style="display: none">add to my memo</button>
    </div>

    </ul>


    {% load static %}
    <script src="{% static 'js/axios.min.js' %}"></script>
    <script src="{% static 'js/api.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
</body>
</html>